<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de Serviço:</strong>
  <%= @servico.tipodeservico %>
</p>

<%= link_to 'Editar', edit_servico_path(@servico) %> |
<%= link_to 'Voltar', servicos_path %>
